---
/**
 * Component that rendefrs Formspree formbutton
 * https://formspree.io/formbutton/docs/
 */
interface Props {
  formId: string;
}

const { formId } = Astro.props as Props;
---

<script src="https://formspree.io/js/formbutton-v1.min.js"
        defer></script>

<script define:vars={{
        formId
        }}
        is:inline>
          window.formbutton = window.formbutton || function () { (formbutton.q = formbutton.q || []).push(arguments) };
          formbutton("create", {
            action: `https://formspree.io/${formId}`,
            styles: {
              button: {
                background: "#60a5fa"
              },
              title: {
                background: "#60a5fa",
                letterSpacing: "0.05em",
                textTransform: "uppercase"
              }
            },
            onResponse: function (ok, setStatus) {
              if (ok) {
                setStatus("Thank you for your messsage. I will get back to you as soon as possible.");
              } else {
                setStatus("<span style='color:red'>There was a problem submitting your request. Please try again</span>");
              }
            }
          });
        </script>
