---
import DefaultLayout from '../layouts/Default.astro'

import notFoundImage from '~/assets/icons/404.svg';
---
<DefaultLayout>
    <div class="flex flex-col text-center items-centertext-xl pt-6">
    <div>
        <img src={notFoundImage} height="256px" width="256px"  class="block mx-auto mb-2" aria-hidden="true" alt="Page not found"/>
        <div class="font-bold">The requested page was not found</div>
    </div>
    </div>
</DefaultLayout>
