---
import { Image } from 'astro:assets';
import DefaultLayout from '../layouts/Default.astro';
import PageTitle from '~/components/shared/PageTitle.astro';
import IconWave from '~/assets/icons/wave.svg';
---

<DefaultLayout title="Bruno Paz | About me">
  <div class="mx-auto leading-8 w-4/5 lg:w-2/3 pb-component">
    <section id="profile">
      <PageTitle title="About me" />

      <Image
        src={IconWave}
        height="80"
        width="80"
        class="mb-component mt-component mx-auto"
        alt="Hi There!"
        title="Hi there!"
        loading="eager"
      />

      <p class="mb-element">Hey, there!</p>
      <p class="mb-element">
        My name is Bruno Paz, and I am a Tech Lead / Software Engineer from
        Porto, Portugal 🇵🇹, with <b>10+ years of experience</b> in the field.
      </p>

      <p class="mb-element">
        I have a strong background in <b>Backend Development</b>, and have
        worked with a variety of technologies and frameworks, with a focus on
        <b>Golang</b>, <b>PHP/Symfony</b>, <b>Java</b> and <b>NodeJS</b>, across
        different sectors such as
        <b>B2B</b>, <b>E-Commerce</b>, <b>Travel</b>, <b>Payments</b> and <b
          >Healthcare.</b
        >
      </p>

      <p class="mb-element">
        <b>I am deeply passionate about everything Tech</b>, from Backend
        Development and Systems Design, DevOps and Automation and more recently,
        technologies that can power a more Decentralized and open web.
      </p>

      <p class="mb-element">
        I am a <b>Lifelong learner</b>, continuously driven by curiosity, always
        seeking out new challenges, and eager to expand and refine my knowledge
        and skills.
      </p>

      <p class="mb-element">
        Strong believer in <b
          >using technology as a powerful tool to improve peoples lives</b
        > and make the world a better place.
      </p>

      <p class="mb-element">
        While coding and tech are a big part of my life, I have a few other
        interests like <b>Sports</b>, <b>TV series</b>, <b>Anime</b> and <b
          >Dinner with Friends</b
        >.
      </p>
    </section>
  </div>
</DefaultLayout>
