---
import { Image } from 'astro:assets';
import DefaultLayout from '../layouts/Default.astro';
import PageTitle from '~/components/shared/PageTitle.astro';
import IconWave from '~/assets/icons/wave.svg';
---

<DefaultLayout title="About me | Bruno Paz">
  <div class="mx-auto leading-8 w-4/5 lg:w-2/3 pb-8">
    <section id="profile">
      <PageTitle title="About me" />

      <Image
        src={IconWave}
        height="128"
        width="128"
        class="mb-8 mt-8 mx-auto"
        alt="Hi There!"
        title="Hi there!"
        loading="eager"
      />

      <p class="mb-4">Hey, there!</p>
      <p class="mb-4">
        My name is Bruno Paz, from the beautiful city of Porto, Portugal 🇵🇹, and
        I am a Software Engineer with <b>10+ years of experience</b> in the field,
        across diverse languages like <b>Go</b>, <b>PHP</b>, <b>Java</b> or <b
          >NodeJS</b
        > and with working experience in different sectors such as
        <b>B2B</b>, <b>E-Commerce</b>, <b>Travel</b>, <b>Payments</b> and <b
          >Healthcare.</b
        >
      </p>

      <p class="mb-4">
        For the <b>last 2+ years</b>, I've been diving into a <b>Tech Lead</b> role,
        working with my team to create good software that solves real business problems.
      </p>

      <p class="mb-4">
        <b>Deeply passionate about all aspects of technology</b>, from Backend
        Development and Systems Design, to CI/CD, DevOps, and Automation.
      </p>

      <p class="mb-4">
        I am a <b>Lifelong learner</b>, continuously driven by curiosity, always
        seeking out new challenges, and eager to expand and refine my knowledge
        and skills.
      </p>

      <p class="mb-4">
        Strong believer in <b
          >using technology as a powerful tool to improve peoples lives</b
        > and make the world a better place.
      </p>

      <p class="mb-4">
        Besides coding and tech, my other main interests are <b>Sports</b>, <b
          >TV series</b
        >, <b>Anime</b> and <b>Dinnner with Friends</b>.
      </p>
    </section>
  </div>
</DefaultLayout>
