---
import DefaultLayout from '../layouts/Default.astro';
import { Image } from 'astro:assets';
import PageTitle from '~/components/shared/PageTitle.astro';
import IconEmail from '~/assets/icons/email.svg';
import ContactForm from '~/components/ContactForm.astro';
---

<DefaultLayout title="Bruno Paz | Contact">
  <div class="text-center mx-auto mb-component">
    <PageTitle title="Contact" />

    <Image
      src={IconEmail}
      width="80"
      height="80"
      alt=""
      aria-hidden="true"
      class="mb-component mt-element mx-auto"
      loading="eager"
    />

    <p class="mb-section">Feel free to reach me using the form below:</p>

    <ContactForm />
  </div>
</DefaultLayout>
