---
import { getCollection } from 'astro:content';
import { BlogPostCollection } from '~/content/types';
import { sortPosts } from '~/content/posts';
import BlogPostCard from '~/components/home/BlogPostCard.astro';
import MoreButton from '@components/home/MoreButton.astro';
import SectionHeading from '@components/shared/SectionHeading.astro';

const allFeaturedPosts = await getCollection(BlogPostCollection, ({ data }) => {
  return data.published === true && data.publishDate;
});

const featuredPosts = sortPosts(allFeaturedPosts).slice(0, 4);
---

<section class="flex flex-col mx-auto justify-center text-center mb-section">
  <SectionHeading
    title="Latest Posts"
    subtitle="Some recent posts I wrote on the blog."
    align="center"
  />
  <div class="mb-component">
    <div class="flex flex-wrap mb-4">
      {
        featuredPosts.map((post) => (
          <div class="flex flex-col md:w-1/2 w-full p-3">
            <BlogPostCard post={post} />
          </div>
        ))
      }
    </div>
    <MoreButton url="/blog/page/1" label="Read Blog" />
  </div>
</section>
