---
import { Image } from 'astro:assets';
import profileImage from '~/assets/images/profile_pic.jpg';
---

<section class="flex flex-col mx-auto">
   <div>
      <div class="flex flex-wrap justify-center mb-6">
        <div class="flex w-6/12 sm:w-4/12 justify-center">
          <Image
            src={profileImage}
            alt="Profile picture"
            width="192"
            height="192"
            class="shadow-lg text-center block rounded-full max-w-full h-auto align-middle border-none"
          />
        </div>
      </div>
      <div class="text-center text-xl text-neutral-600 mb-16">
         <h1 class="font-extrabold text-neutral-700 text-6xl mb-6">Bruno Paz</h1>
         <p class="text-2xl mb-2">
            Web Engineer, specialized in <b>PHP/Symfony</b> and <b>Golang</b>.
         </p>
         <p class="mb-4">
            Enthusiast about <b>CI/CD</b>, <b>Code Quality</b> and
            <b>Engineering practices.</b>
         </p>
         <p class="mb-1">
            Believer that Tech only makes sense at the service of people!
         </p>
         <p>From Porto, Portugal! 🇵🇹</p>
      </div>
   </div>
</section>
