---
import LanguageIcon from '../shared/LanguageIcon.astro';
import SectionHeading from '@components/shared/SectionHeading.astro';

const languages = [
  'Golang',
  'PHP',
  'JavaScript',
  'TypeScript',
  'NodeJS',
  'Symfony',
  'Postgres',
  'Redis',
  'ElasticSearch',
  'Apache Kafka',
  'NuxtJS',
  'Astro',
  'TailwindCSS',
  'Linux',
  'Git',
  'Docker',
  'Kubernetes',
  'Google Cloud',
  'Ansible',
  'Terraform',
  'Grafana',
  'Prometheus',
  'FluxCD',
  'Strapi',
];
---

<style>
  #tech-stack img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    width: 100%;
  }

  .language-logo {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    overflow: hidden;
  }
</style>
<section id="tech-stack" class="flex flex-col mx-auto justify-center text-center mb-section">
  <SectionHeading title="Tech Stack" subtitle="Technologies and tools I have experience with" align="center" />
  <div class="flex flex-col">
    <div class="flex flex-wrap justify-center gap-8">
      {
        languages.map((item) => (
          <div title={item} class="language-logo">
            <LanguageIcon name={item} width={100} height={100} />
          </div>
        ))
      }
    </div>
  </div>
</section>
