---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import DefaultLayout from '~/layouts/Default.astro';
import PageTitle from '~/components/shared/PageTitle.astro';
import ProjectCard from '~/components/work/ProjectCard.astro';
import SectionHeading from '@components/shared/SectionHeading.astro';
import IconBriefcase from '~/assets/icons/briefcase.svg';

import { ProjectCollection } from '~/content/types';
import { ProjectType } from '~/content/projects';

const allProjects = await getCollection(ProjectCollection);

const companyProjects = allProjects
  .filter((project) => project.data.type == ProjectType.Work)
  .sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const personalProjects = allProjects
  .filter((project) => project.data.type == ProjectType.Personal)
  .sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<DefaultLayout>
  <PageTitle title="Work" />

  <Image
    src={IconBriefcase}
    height="80"
    width="80"
    class="mb-component mt-component mx-auto"
    alt="Work"
    loading="eager"
    title="Work"
  />

  <div class="mb-section mx-auto w-4/5">
    <p class="mb-element">
      On this page, you can find some of the most relevant projects I have
      worked on during my professional career, as well as personal side
      projects.
    </p>
  </div>

  <section id="professional-projects" class="mb-section">
    <SectionHeading title="Professional Projects" align="center" />

    <div class="flex flex-wrap w-full justify-center">
      {
        companyProjects.map((project) => (
          <div class="project-card flex md:w-1/2 sm:w-full lg:w-1/3 mb-element">
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
  </section>

  <section id="personal-projects" class="mb-section">
    <SectionHeading title="Personal Projects" align="center" />

    <div class="flex flex-wrap w-full justify-center">
      {
        personalProjects.map((project) => (
          <div class="project-card flex md:w-1/2 sm:w-full lg:w-1/3 mb-element">
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
  </section>
</DefaultLayout>
