---
const { totalPages, itemsPerPage, currentPage } = Astro.props

function hasNext() {
   return currentPage < totalPages;
}

function hasPrevious() {
  return currentPage > 1
}

// Calculates the page range slider
// see: https://gist.github.com/kottenator/9d936eb3e4e3c3e02598
function calculatePageRange() {
    const current = currentPage
    const total = totalPages
    const center = [
      current - 2,
      current - 1,
      current,
      current + 1,
      current + 2,
    ]
    const filteredCenter = center.filter((p) => p > 1 && p < total)
    const includeThreeLeft = current === 5
    const includeThreeRight = current === total - 4
    const includeLeftDots = current > 5
    const includeRightDots = current < total - 4

    if (includeThreeLeft) filteredCenter.unshift(2)
    if (includeThreeRight) filteredCenter.push(total - 1)

    if (includeLeftDots) filteredCenter.unshift('...')
    if (includeRightDots) filteredCenter.push('...')

    return [1, ...filteredCenter, total]
}

const pageRange = calculatePageRange()

---
 <div>
    <nav
      id="pagination"
      class="
        px-4
        flex
        items-center
        justify-between
        sm:px-0
        w-1/2
        mx-auto
      "
    >
      <div class="-mt-px w-0 flex-1 flex">
        { hasPrevious() &&
        <a
          href={ currentPage != 2 ? `/blog/page/${currentPage-1}` : '/blog'}
          class="
            border-t-2 border-transparent
            pt-4
            pr-1
            inline-flex
            items-center
            text-sm
            font-medium
            text-neutral-500
            hover:text-neutral-700
            hover:border-gray-300
          "
        >
          <svg
            class="mr-3 h-5 w-5 text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
              clip-rule="evenodd"
            />
          </svg>
          Previous
        </a>
        }
      </div>

      <div class="hidden md:-mt-px md:flex">
        {pageRange.map((item, index) => (
            <a
            href={ item == '...' ? '#' : `/blog/page/${item}`}

            class={ `border-transparent
              text-neutral-500
              hover:text-neutral-700
              hover:border-gray-300
              border-t-2
              pt-4
              px-4
              inline-flex
              items-center
              text-sm
              font-medium
             ${currentPage == item ? 'text-blue-600 font-bold current-page' : ''}`}
          >
           {item}
          </a>
        ))}
      </div>
      <div class="-mt-px w-0 flex-1 flex justify-end">
        { hasNext() &&
        <a
          href={ `/blog/page/${currentPage+1}`}
          class="
            border-t-2 border-transparent
            pt-4
            pl-1
            inline-flex
            items-center
            text-sm
            font-medium
            text-neutral-500
            hover:text-neutral-700
            hover:border-gray-300
          "
        >
          Next
          <svg
            class="ml-3 h-5 w-5 text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
        }
      </div>
    </nav>
  </div>
