---
interface Props {
  tags: string[];
}

const { tags } = Astro.props as Props;
---

<ul class="flex flex-wrap gap-2">
  {
    tags.map((tag) => (
      <li>
        <a
          class="inline-flex items-center px-3 py-1.5 text-xs font-medium text-neutral-700 bg-neutral-100 hover:bg-neutral-200 rounded-full transition-colors duration-200"
          href={`/blog/tags/${tag}/1`}
        >
          #{tag}
        </a>
      </li>
    ))
  }
</ul>
