---
import { formatPostDate } from '~/utils/date.ts'
import DefaultLayout from '~/layouts/Default.astro'
import PageTitle from '~/components/shared/PageTitle.astro'
import SocialShare from '~/components/blog/SocialShare.astro'
const { content } = Astro.props;
---

<style is:global>
.post-content h2 {
  @apply font-bold text-2xl mb-4 mt-4;
}
.post-content h3 {
  @apply font-bold text-lg mb-4;
}
.post-content p {
  @apply mb-4 leading-8;
}

.post-content img {
  @apply my-4 mx-auto;
}

.post-content ul {
  @apply list-disc ml-6 mb-4;
}

.post-content hr {
  @apply flex w-1/2 mt-12 mb-12 border-blue-300 mx-auto;
}

.post-content pre {
    @apply mb-4 p-4;
}
</style>

<DefaultLayout title={content.title} description={content.summary}>
    <PageTitle title={content.title}></PageTitle>

    <div class="text-xs text-center mb-4">{formatPostDate(new Date(content.date))}</div>

    <div class="post-content">
        <slot/>
    </div>
    <SocialShare url={Astro.canonicalURL.toString().slice(0, -1)} title={content.title} />
</DefaultLayout>
