---
import LanguageIcon from '@components/shared/LanguageIcon.astro';

export interface Props {
  technologies: Array<string>;
}

const { technologies } = Astro.props;
---

<div class="project-technologies">
  <h3 class="font-bold text-2xl mb-8 text-neutral-800">Technologies & Tools</h3>

  <div class="technologies-list flex flex-wrap gap-8">
    {
      technologies.map((item) => (
        <div class="flex items-center justify-center hover:scale-110 transition-transform duration-200">
          <LanguageIcon width={64} height={64} name={item} />
        </div>
      ))
    }
  </div>
</div>
