name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  deployments: write

env:
  SITE_URL: http://localhost:4321

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Lint
        run: pnpm run lint

      - name: Build
        run: pnpm run build

      - name: Upload dist
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Run E2E tests
        id: e2e-tests
        run: pnpm run test:e2e

      - uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 15

      - name: Run Lighthouse test
        uses: treosh/lighthouse-ci-action@v12
        with:
          uploadArtifacts: true

  preview:
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request' && github.actor != 'renovate[bot]'
    needs: build
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Deploy Preview
        id: deploy-preview
        uses: cloudflare/pages-action@v1.5.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          projectName: ${{ secrets.CF_PROJECT_NAME }}
          directory: dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
